<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="containter">
    <h1>Kwota</h1>
    <hr>
    <h2>Edycja kwoty</h2>
    <form action="#" th:action="@{/saveAmount}" th:object="${amount}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="number" step="0.01" th:field="*{value}" class="form-control mb-4 col-4" required pattern="[0-9]+\.*[0-9]{0,2}">
        <input type="text" th:field="*{category}" class="form-control mb-4 col-4" pattern=".{0,12}">
        <select class="form-control form-control mb-4 col-4" th:field="*{inOut}" required>
            <option th:value="Przychód" th:text="Przychód"></option>
            <option th:value="Wydatek" th:text="Wydatek"></option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm mb-1">Aktualizuj kwotę</button>
    </form>
    <hr>
    <a th:href="@{/}">Powrót do głównej listy</a>
</div>

</body>
</html>